.section-title {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    color: var(--text-primary);

    @media (min-width: 768px) {
        font-size: 24px;
        line-height: 36px;
        text-align: start;
    }
}