.social {
    display: flex;
    align-items: center;
    gap: 24px;
    
    a {
        height: 50px;
        width: 50px;
        border: 1px solid white;
        border-radius: 100%;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}